<%- include('../layout/user/user_login_header.ejs') %>


<div class="container"  >

    <div class="row" style="height: 100vh;">
        
        <div class="wrapper d-flex justify-content-center align-items-center">
            <div class="col col-md-4 d-flex justify-content-center flex-column align-items-center">
                <div class="heading1">
                    <h3>OTP verification</h3>
                </div>
                <div class=" shadow-lg p-4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-danger">Verify your mobile number</h5>
                            <p class="card-text">Please enter the otp recieved in your phone</p>

                            <% if(typeof message !== 'undefined') { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= message %>
                                    <p class="text-danger">Invalid OTP. Please try again</p>
                                  </div>
                            <% } %>
                            <form method="post" action="/verifyOtp" id="otpForm" onsubmit="validateForm()" >
        
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label text-danger">OTP</label>
                                    <input type="text" class="border border-primary-subtle" name="otp" id="userOtp">
                                </div>
        
                                <button type="submit" class="btn btn-primary">Verify OTP</button>
                            </form>

                            <div class="alert alert-warning mt-3" role="alert" style="display: none;" id="errorAlert">
                  
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

</div>
<script>

    let validateForm = () =>{
        const form = document.getElementById('otpForm')
        const input = document.getElementById('userOtp')
        document.addEventListener('submit' , (e) =>{
            e.preventDefault()
            if(input.value == ""){
                $('#errorAlert').show().html('All fields are required!!')
                setTimeout(() =>{
                    $('#errorAlert').fadeOut('slow')
                } , 2000)
            }else{
                form.submit()
            }
        })
    }

  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<%- include('../layout/user/user_login_footer.ejs') %>

