<%- include('../layout/user/user_login_header.ejs') %>

    <div class="containerfluid">

        <div class="background d-flex flex-column align-items-center justify-content-center"
            style="background-color: rgb(241, 239, 239);  height:100vh ;">

            <div class="heading text-black mb-4">
                <h1>Login</h1>
            </div>
            <div class="container">

                <div class="row">
                    <div class="col col-md-12">

                        <div class="form-container d-flex justify-content-center align-items-center flex-column">

                            <div class="content-wrapper border border-3 border-primary rounded-4 p-5">

                                <form class="text-black" action="/verifyUser" method="post" onsubmit="validateForm()" id="loginForm">
                                    <div class="mb-3">

                                        <label for="exampleInputEmail1"  class="form-label">User name</label>
                                        <input type="text" name="userName" class="form-control border-primary-subtle" id="firstName">

                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control border-primary-subtle"
                                            id="exampleInputPassword1">
                                    </div>


                                    <button type="submit" class="btn btn-primary">Login</button>

                                    <div class="mt-2">
                                        <span>Don't have an account?</span><a href="/viewUserSignup" class="text-primary">Signup here</a>
                                    </div>

                                    <div id="invalidDiv">
                                        <% if(typeof loginError !== 'undefined') { %>
                                            <div class="alert alert-warning mt-4 loginError" role="alert">
                                                <%= loginError %>
                                            </div>
    
                                        <% } %>
                                        <% if(typeof isBlocked !== 'undefined') { %>
                                            <div class="alert alert-warning mt-4 loginError" role="alert">
                                                <%= isBlocked %>
                                            </div>
    
                                        <% } %>
                                    </div>


                                </form>

                                <div class="alert alert-warning mt-3" role="alert" style="display: none;" id="errorAlert">
                  
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        
        let validateForm = () =>{
            const form = document.getElementById('loginForm')
            const inputs = form.querySelectorAll('input')
            let nullField = false
            document.addEventListener('submit' , (e) =>{
                e.preventDefault()
                for(let i = 0 ; i < inputs.length ; i++){
                    if(inputs[i].value == ""){
                        nullField = true
                        $('#errorAlert').attr({style : 'display : block'}).html('All fields are required!!')
                    setTimeout(() =>{
                        $('#errorAlert').fadeOut('slow')
                    } , 2000)
                    break
                    }
                }
                if(!nullField){
                    form.submit()
                }
            })
        
        }

        let invalidDiv = document.getElementById('invalidDiv')
        document.addEventListener("DOMContentLoaded" , () =>{
            const loginError = document.querySelectorAll('.loginError')
            if(loginError){
                setTimeout(() =>{
                    $('#invalidDiv').fadeOut('slow')
                } , 2000)
            }
        })

    </script>

    <%- include('../layout/user/user_login_footer.ejs') %>