<%- include('../layout/user/user_header.ejs') %>

<%- include('../user/user_nav.ejs') %>



<div class="container">
    <div class="row">
        <div class="col">
               
        </div>
    </div>
</div>






<%- include('../layout/user/user_footer.ejs') %>